<div class="row">
  <div class="col-10">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"> <%= pluralize(current_user.friends.count, 'Friend') %> </th>
          <th scope="col"> Last name </th>
          <th scope="col"> Number of tracked stocks </th>
          <th scope="col"> Actions </th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_friends.each do |friend| %>
        <tr>
          <th scope="row"> <%= friend.first_name %> </th>
          <td> <%= friend.last_name %> </td>
          <td> <%= friend.stocks.count %> </td>
          <td> <%= link_to 'Remove', friendship_path(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-sm' %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
