<h1> My cryptocurrency profit </h1>

<h3> Wallet entries </h3>

<% if !@wallets.empty? %>
  <%= render 'wallets/list' %>
<% end %>

<%= link_to 'Add new', new_wallet_path, class: 'btn btn-info mb-5' %>

<h3> Total invested </h3>
<h4> <span class="badge badge-info mb-1"> <%= @total_invested %> </span> </h4>

<h3> Total profit if everything would be sold now </h3>
<h4> <span class="badge badge-info mb-1"> <%= @total_profit %> </span> </h4>

<h4> Benefit/Growth <span class="badge badge-info mb-5"> <%= ((@total_profit/@total_invested)*100).round(2) %> % </span> </h4>


<%= render 'profits/profit_graph' %>
