<div class="row">
  <div class="col-10">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"> Ticker </th>
          <th scope="col"> Name </th>
          <th scope="col"> Bought on </th>
          <th scope="col"> Invested</th>
          <th scope="col"> Course when bought </th>
          <th scope="col"> Current profit</th>
          <th scope="col"> Last updated </th>
          <th scope="col"> Actions </th>
          <th> Sold? </th>
        </tr>
      </thead>
      <tbody>
        <% @wallets.each do |wallet| %>
        <tr>
          <th scope="row"> <%= wallet.ticker %> </th>
          <td> <%= wallet.name %> </td>
          <td> <%= wallet.buy_date.strftime("%d-%m-%Y") if wallet.buy_date %> </td>
          <td> <%= wallet.amount_bought %> <span class="badge"> <%= wallet.currency %> </span> </td>
          <td> <%= wallet.buy_price %> <span class="badge"> <%= wallet.currency %> </td>
          <td>
              <% if !wallet.current_profit.nil? %>
                  <p id="profits-<%=wallet.id%>"> <%= wallet.current_profit %> <span class="badge"> <%= wallet.currency %> </p>
              <% else %>
                  <p class="badge badge-warning"> Error, please try again </p>
              <% end %>
          </td>
          <td> <%= time_ago_in_words(wallet.updated_at) %> ago </td>
          <td>
            <%= link_to 'View', wallet_path(wallet), class: 'badge badge-info' %>
            <%= link_to 'Edit', edit_wallet_path(wallet), class: 'badge badge-info' %>
            <%= link_to 'Delete', wallet_path(wallet), method: :delete, class: 'badge badge-danger', data: { confirm: 'Are you sure?' } %>
            <% if !wallet.sold %>
              <%= link_to 'Update profit', update_profit_path(wallet), method: :get, remote: true, class: 'badge badge-success' %>
            <% end %>
           </td>
           <td>
             <% if wallet.sold %>
              <p class="badge badge-success"> Sold! </p>
             <% else %>
              <%= link_to 'Sold?', sell_path(wallet), class: 'badge badge-danger', data: { confirm: 'Are you sure you sold this?' } %>
             <% end %>
           </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
